@import "variables";

.bin-btn {
  font-family: @bin-font-sans-serif;
  font-size: 11px;
  line-height: @bin-btn-line-height;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: @bin-btn-padding-top-bottom @bin-btn-padding-left-right;
  min-height: @bin-btn-min-height;
  border: none;
  border-radius: @bin-btn-min-height;
  color: #fff;
  vertical-align: middle;
  outline: none;
  cursor: pointer;

  &:active, &.active {
    box-shadow: inset 1px 3px 1px rgba(0,0,0,.125);
  }

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: #fff;
    text-decoration: none;
  }

  &.bin-btn-sm {
    font-size: 10px;
    padding: @bin-btn-padding-top-bottom-sm @bin-btn-padding-left-right-sm;
    min-height: @bin-btn-min-height-sm;
    border-radius: @bin-btn-min-height-sm;
  }
}

button {
  &.bin-link {
    border: none;
    background: none;
    padding: 0;
  }
}

.bin-btn-floated, .bin-btn-up, .bin-btn-down, .bin-btn-left, .bin-btn-right {
  box-shadow: @bin-box-shadow;
  transition-timing-function: ease;
  transition-duration: 60ms;
  transition-property: transform, box-shadow, background-color, color, padding;

  &:active,
  &.active {
    transform: scale(0.99,0.99);
    box-shadow: none;
  }
}

.bin-btn-default {
  color: @bin-text-color;
  background-color: @bin-gray-light;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: @bin-text-color;
  }

  &:active,
  &.active {
    background-color: @bin-gray;
  }
}

.bin-btn-primary {
  background-color: @bin-primary;

  &:active,
  &.active {
    background-color: @bin-primary-dark;
  }
}

.bin-btn-success {
  background-color: @bin-success;

  &:active,
  &.active {
    background-color: @bin-success-dark;
  }
}

.bin-btn-info {
  background-color: @bin-info;

  &:active,
  &.active {
    background-color: @bin-info-dark;
  }
}

.bin-btn-warning {
  background-color: @bin-warning;

  &:active,
  &.active {
    background-color: @bin-warning-dark;
  }
}

.bin-btn-danger {
  background-color: @bin-danger;

  &:active,
  &.active {
    background-color: @bin-danger-dark;
  }
}

.bin-btn-up, .bin-btn-down, .bin-btn-left, .bin-btn-right {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    transition: transform ease 120ms;
  }
  &:not(:empty) {
    padding-right: @bin-btn-padding-left-right * 1.6;
  }
}

.bin-btn-up {
  &:before {
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent #fff transparent;
  }

  &.bin-btn-default {
    &:before {
      border-bottom-color: @bin-gray-dark;
    }
  }
}

.bin-btn-down {
  &:before {
    border-width: 6px 6px 0 6px;
    border-color: #fff transparent transparent transparent;
  }

  &.bin-btn-default {
    &:before {
      border-top-color: @bin-gray-dark;
    }
  }
}

.bin-btn-up, .bin-btn-down {
  &:before {
    top: (@bin-btn-min-height / 2) - 3px;
    right: @bin-btn-padding-left-right - 6px;
  }

  &.bin-btn-sm {
    &:before {
      top: (@bin-btn-min-height-sm / 2) - 3px;
      right: @bin-btn-padding-left-right-sm - 6px;
    }
  }
}

.bin-btn-left {
  &:before {
    border-width: 6px 6px 6px 0;
    border-color: transparent #fff transparent transparent;
  }

  &.bin-btn-default {
    &:before {
      border-right-color: @bin-gray-dark;
    }
  }
}

.bin-btn-right {
  &:before {
    border-width: 6px 0 6px 6px;
    border-color: transparent transparent transparent #fff;
  }

  &.bin-btn-default {
    &:before {
      border-left-color: @bin-gray-dark;
    }
  }
}

.bin-btn-left, .bin-btn-right {
  &:before {
    top: (@bin-btn-min-height / 2) - 6px;
    right: @bin-btn-padding-left-right - 3px;
    border-width: 6px 6px 6px 0;
    border-color: transparent #fff transparent transparent;
  }

  &.bin-btn-default {
    &:before {
      border-color: transparent @bin-gray-dark transparent transparent;
    }
  }

  &.bin-btn-sm {
    &:before {
      top: (@bin-btn-min-height-sm / 2) - 6px;
      right: @bin-btn-padding-left-right-sm - 3px;
    }
  }
}

.open {
  >.bin-btn-floated, >.bin-btn-up, >.bin-btn-down, >.bin-btn-left, >.bin-btn-right {
    .bin-btn-floated.active;
  }

  >.bin-btn-default {
    .bin-btn-default.active;
  }

  >.bin-btn-primary {
    .bin-btn-primary.active;
  }

  >.bin-btn-success {
    .bin-btn-success.active;
  }

  >.bin-btn-info {
    .bin-btn-info.active;
  }

  >.bin-btn-warning {
    .bin-btn-warning.active;
  }

  >.bin-btn-danger {
    .bin-btn-danger.active;
  }
}

body:not(.mobile):not(.tablet) {
  .bin-btn-default:hover {
    background-color: @bin-gray;
  }

  .bin-btn-primary:hover {
    background-color: @bin-primary-dark;
  }

  .bin-btn-success:hover {
    background-color: @bin-success-dark;
  }

  .bin-btn-info:hover {
    background-color: @bin-info-dark;
  }

  .bin-btn-warning:hover{
    background-color: @bin-warning-dark;
  }

  .bin-btn-danger:hover {
    background-color: @bin-danger-dark;
  }
}