@import "variables";

.bin-dropdown {
  display: inline-block;
  position: relative;
  z-index: @bin-z-index-ui;

  ul, .bin-dropdown-menu {
    display: none;
    list-style: none;
    margin: 3px 0 0 0;
    padding: 0;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: @bin-box-shadow;
    z-index: @bin-z-index-ui;

    li, .bin-dropdown-menu-item {
      font-family: @bin-font-sans-serif;
      letter-spacing: 1px;

      a, button {
        font-size: 11px;
        display: inline-block;
        padding: 12px 24px;
        width: 100%;
        min-width: 120px;
        max-width: 200px;
        color: @bin-gray-darker;
        text-transform: uppercase;
        text-decoration: none;
        text-overflow: ellipsis;
        text-align: left;
        overflow: auto;
        white-space: nowrap;
      }

      &.active {
        background-color: @bin-gray-light;
      }
    }
  }

  &.open {
    ul, .bin-dropdown-menu {
      display: block;
    }
  }
}

body:not(.mobile):not(.tablet) {
  .bin-dropdown {
    ul, .bin-dropdown-menu {
      li, .bin-dropdown-menu-item {
        &:hover:not(.active) {
          background-color: @bin-gray-lighter;
        }
      }
    }
  }
}